.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    80px
    calc(576px - 80px)
    repeat(3, min-content);
  /* выравниваем содаржимое сетки main по центру */
  justify-items: center;
}

@media all and (max-width : 800px) { /* 768 */
  .main {
    grid-template-rows:
      66px
      calc(400px - 66px)
      repeat(3, min-content);
  }
}

@media all and (max-width : 550px) { /* 320 */
  .main {
    grid-template-rows:
      56px
      calc(536px - 56px)
      repeat(3, min-content);
  }
}
