.about {
  margin: 80px 0 80px 104px;
  /* сетка about */
  display: grid;
  grid-template-columns: 464px fit-content(600px);
  grid-template-rows: min-content 1fr;
  column-gap: 56px;
  grid-template-areas:
  "about__img-container about__title"
  "about__img-container about__article";
}

.about__title {
  grid-area: about__title;
  margin: 0;
  margin-top: 51px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.about__article {
  margin: 0;
  margin-top: 24px;
}

.about__text {
  grid-area: about__text;
  margin: 0;
  margin-top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.about__text:nth-child(1) {
  margin-top: 0;
}

.about__img-container {
  grid-area: about__img-container;
  /* фоновое изображение */
  height: 464px;
  width: 464px;
  background:
    url(../../images/about-img.png)
    no-repeat
    center;
}
