.navigation {
  margin: 0;
  /* расположение в сетке header */
  grid-column: 2/3;
  grid-row: 1;
  /* выравнивание по вертикале */
  align-items: center;
  /* выравнивание сетки navigation */
  justify-content: end;
}

.navigation_status_signin {
  /* сетка navigation */
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: 1fr;
  grid-template-areas:
  "navigation__link_type_main navigation__link_type_article navigation__btn";
}

.navigation_status_signout {
  /* сетка navigation */
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: 1fr;
  grid-template-areas:
  "navigation__link_type_main navigation__btn";
}

.navigation__link {
  margin: 0;
  /* стилизация ссылки */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* --> style_white/black */
  text-decoration: none;
}

.navigation__link:hover {
  /* ссылка при наведении мыши плавно становиться немного прозрачной */
  opacity: 0.7;
  transition: opacity 1s ease;
}

.navigation__link_style_white {
  color: #FFFFFF;
  border-bottom: white;
}

.navigation__link_style_black {
  color: #1A1B22;
  border-bottom: #1A1B22;
}

.navigation__link_status_active {
  line-height: 77px;
  /* --> style_white/black */
  border-bottom: 3px solid;
}

.navigation__link_type_main {
  /* расположение в сетке navigation */
  grid-area: navigation__link_type_main;
  margin-right: 34px;
}

.navigation__link_type_article {
  /* расположение в сетке navigation */
  grid-area: navigation__link_type_article;
  margin-right: 32px;
}

.navigation__link_hidden {
  display: none;
}

.navigation__btn {
  /* расположение в сетке navigation */
  grid-area: navigation__btn;
  /* стилизация кнопки */
  padding: 0 12px 0 12px;
  width: auto;
  height: 48px;
  background-color: transparent;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 100px;
  /* надпись кнопки */
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.navigation__btn:hover {
  /* кнопка при наведении мыши плавно становиться немного прозрачной */
  opacity: 0.7;
  transition: opacity 1s ease;
}

.navigation__btn_style_white {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.navigation__btn_style_black {
  color: #1A1B22;
  border-color: #1A1B22;
}

.navigation__btn_logout {
  position: relative;
  text-align: left;
  padding-right: 38px;
}

.navigation__btn_logout:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 16px;
  background-image: url(../../images/logout_black.svg);
  background-position: center;
  right: 12px;
  top: 16px;
}

.navigation__btn_logout_main {
  position: relative;
  text-align: left;
  padding-right: 38px;
}

.navigation__btn_logout_main:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 16px;
  background-image: url(../../images/logout_white.svg);
  background-position: center;
  right: 12px;
  top: 16px;
}
