.search-form {
  /* фоновое изображение */
  background:
    url(../../images/search_bg.png)
    no-repeat
    center;
  background-size: cover;
  /* расположение в сетке main */
  grid-column: 1;
  grid-row: 1/3;
  /* сетка search-form */
  display: grid;
  grid-template-columns: calc(608px - 168px) 168px;
  grid-template-rows: repeat(2, min-content) 64px;
  grid-template-areas:
    "search-form__title search-form__title"
    "search-form__text search-form__text"
    ". .";
  /* выровнить сетку */
  justify-content: center;
  align-content: start;
  padding-top: 160px;
  padding-bottom: 80px;
}

.search-form__title {
  grid-area: search-form__title;
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
}

.search-form__text {
  grid-area: search-form__text;
  margin: 32px 0 64px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__input {
  padding: 0;
  padding-left: 24px;
  /* расположение в сетке search-form */
  grid-column: 1/3;
  grid-row: 3/4;
  /* стилизация поля */
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
  /* цвет вводимого текста */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}

.search-form__input:focus {
  outline: none;
}
.search-form__input::-moz-placeholder {
  color: #B6BCBF;
}
.search-form__input::-webkit-input-placeholder {
  color: #B6BCBF;
}

.search-form__btn {
  z-index: 1;
  padding: 0;
  /* расположение в сетке search-form */
  grid-column: 2/3;
  grid-row: 3/4;
  /* стилизация кнопки */
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border-width: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form__btn:hover {
  /* кнопка при наведении мыши плавно становиться немного прозрачной */
  opacity: 0.7;
  transition: opacity 1s ease;
  cursor: pointer;
}

@media all and (max-width : 800px) { /* 768 */
  .search-form {
    padding-top: 104px;
    padding-bottom: 48px;
    grid-template-columns: calc(448px - 160px) 160px;
    grid-template-rows: repeat(2, min-content) 56px;
  }
  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
  }
  .search-form__text {
    margin: 16px 0 48px 0;
  }
}

@media all and (max-width : 470px) { /* 320 */
  .search-form {
    padding-top: 86px;
    padding-bottom: 32px;
    grid-template-columns: 288px;
    grid-template-rows: repeat(2, min-content) 56px calc(56px + 16px);
    grid-template-areas:
    "search-form__title"
    "search-form__text"
    "."
    ".";
  }
  .search-form__input {
    /* расположение в сетке search-form */
    grid-column: 1;
    grid-row: 3/4;
  }
  .search-form__btn {
    margin-top: 16px;
    /* расположение в сетке search-form */
    grid-column: 1;
    grid-row: 4/5;
  }
  .search-form__text {
    margin-bottom: 122px;
  }
}
