.header {
  /* боковые отступы */
  padding: 0 104px;
  /* расположение в сетке main */
  z-index: 1;
  grid-column: 1;
  grid-row: 1/2;
  /* декоротивный элемент снизу */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* сетка header */
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  grid-template-rows: 1fr;
  /* выравнивание содержимого по вертикале */
  align-items: center;
}

.header__logo {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  /* расположение в сетке header */
  grid-column: 1/2;
  grid-row: 1;
}
