.header {
  /* боковые отступы */
  padding: 0 104px;
  /* расположение в сетке main & saved-news */
  z-index: 1;
  grid-column: 1;
  grid-row: 1/2;
  /* сетка header */
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  grid-template-rows: 1fr;
  /* выравнивание содержимого по вертикале */
  align-items: center;
}

.header_style_black {
  /* декоротивный элемент снизу */
  border-bottom: 1px solid #D1D2D6;
}

.header_style_white {
  /* декоротивный элемент снизу */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* расположение в сетке header */
  grid-column: 1/2;
  grid-row: 1;
  text-decoration: none;
}

.header__logo:hover {
  /* лого при наведении мыши плавно становиться немного прозрачной */
  opacity: 0.7;
  transition: opacity 1s ease;
  cursor: pointer;
}

.header__logo_style_black {
  color: #1A1B22;
}

.header__logo_style_white {
  color: #FFFFFF;
}

@media all and (max-width : 800px) { /* 768 */
  .header {
    /* боковые отступы */
    padding: 0 40px;
  }
}

@media all and (max-width : 400px) { /* 320 */
  .header {
    /* боковые отступы */
    padding: 0 16px;
  }
  .header__logo {
    font-size: 16px;
    line-height: 24px;
  }
}
