.news-cardlist {
  /* сетка news-cardlist  */
  display: grid;
  grid-template-columns: 40px 1fr 40px;

  /* выравниваем содержимое сетки по центру */
  justify-items: center;
}

.news-cardlist_status_logout {
  padding: 80px 0;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    ". news-cardlist__titel ."
    ". news-cardlist__container ."
    ". news-cardlist__btn .";
}

.news-cardlist_status_login {
  padding: 0;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    ". . ."
    ". news-cardlist__container ."
    ". . .";
}

.news-cardlist__titel {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  max-width: 1232px;
  width: 100%;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.news-cardlist__titel_status_login {
  display: none;
}

.news-cardlist__titel_status_logout {
  grid-area: news-cardlist__titel;
}

.news-cardlist__container {
  grid-area: news-cardlist__container;
  /* сетка news-cardlist__container */
  max-width: 1232px;
  display: grid;
  /*  grid-template-columns: repeat(3, 400px); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 576px);
  grid-auto-rows: 576px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
}

.news-cardlist__container_status_login {
  margin: 62px auto;
}

.news-cardlist__container_status_logout {
  margin: 64px auto 0;
}

.news-cardlist__btn {
  padding: 0;
  margin-top: 64px;
  width: 288px;
  height: 64px;
  background: #FFFFFF;
  border-width: 0;
  border-radius: 80px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  /* выравниваем внутри сетки news-cardlist */
  justify-self: center;
}

.news-cardlist__btn:hover {
  /* кнопка при наведении мыши плавно становиться немного прозрачной */
  opacity: 0.7;
  transition: opacity 1s ease;
  cursor: pointer;
}

.news-cardlist__btn_hidden {
  display: none;
}

.news-cardlist__btn_status_login {
  display: none;
}

.news-cardlist__btn_status_logout {
  grid-area: news-cardlist__btn;
}

@media all and (max-width : 1000px) { /* 768 */
  .news-cardlist_status_logout {
    padding: 40px 0;
  }
  .news-cardlist_status_login {
    padding: 0;
  }
  .news-cardlist__titel {
    font-size: 30px;
    line-height: 34px;
  }
  .news-cardlist__container {
    /* grid-template-columns: repeat(3, 224px); */
    grid-template-rows: repeat(1, 420px);
    grid-auto-rows: 420px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .news-cardlist__container_status_logout {
    margin: 32px auto 0;
  }
  .news-cardlist__container_status_login {
    margin: 32px auto;
  }
  .news-cardlist__btn {
    margin-top: 32px;
    height: 56px;
  }
}

@media all and (max-width : 600px) { /* 320 */
  .news-cardlist {
    grid-template-columns: 16px 1fr 16px;
  }
  .news-cardlist__container {
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(3, 440px);
    grid-auto-rows: 440px;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .news-cardlist__container_status_logout {
    margin: 24px auto 0;
  }
  .news-cardlist__container_status_login {
    margin: 24px auto;
  }
  .news-cardlist__btn {
    margin-top: 15px;
  }
}
